.navbar-container{
    padding-left: 80px;
    padding-right: 50px;
    height: 52px;
}
.navbar-brand{
    padding: 0;
}
.navbar{
    padding: 0;
}

.navbar-logo{
    width: 40px;
    margin-left: 10px;
}

.navbar-brand span{
    color: #535D68;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    margin-top: 5px;
    margin-left: 57px;
}

.navbar-nav{
    /* border: 1px solid red; */
    width: 71vw; /* 35 view width */
    display: flex;
    justify-content: center;
}
.search-bar-wrap{
  width: 20% !important;
  margin-left: 518px;
}
.search-button-color{
  background: #27A5DF !important;
}
.home{
  margin-left: 30px;
}

.nav-item{
    /* border: 1px solid black; */
    width: 10%;
    text-align: center;
}

.nav-link{    
    color: #535D68 !important;
    font-family: sans-serif;
}

.on-clicked{
    background-color: #E5E9F2;
}
.search-icon{
    
    margin-top: 12px;

}


body{
  background-color: #fDfff7;
}

.slide-show{
    border: 1px solid #535D68;
    height: 300px;
    background-color: #27A5DF;
}

.carouse-image{
  height:311px;
}

.why-soteria{
    text-align: center;
    padding-top: 70px;
    
}
.why-title{
    color: #535D68;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.why-answer{
    color: #535D68;
    font-family: sans-serif;
    font-size: 20px;
    width: 623px;
    margin: auto
}
.design-process{
    text-align: center;
    padding-top: 70px;
    
}
.design-process-title{
    color: #535D68;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.team-work p{
    color: #535D68;
    font-family: sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-right: 50px;
    
}
.team-work img{
    width: 200px;
    border: 10px solid #535D68;
    
}
.team-work{
    margin-top: 20px;
}


