body {
    background-color: #FDFFF7;
}

.style-fix img {
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    border-style: solid;
    border-color: #27A5DF
}

.style-fix p {
    text-align: center;
}

.navbar-container {
    padding-left: 80px;
    padding-right: 50px;
}

.navbar-brand {
    padding: 0;
}

.navbar {
    padding: 0;
}

.navbar-logo {
    width: 40px;
    margin-left: 10px;
}

.navbar-brand span {
    color: #535D68;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    margin-top: 5px;
    margin-left: 3px;
}

.navbar-nav {
    /* border: 1px solid red; */
    width: 35vw;
    /* 35 view width */
    display: flex;
    justify-content: center;
}

.nav-item {
    /* border: 1px solid black; */
    width: 100%;
    text-align: center;
}

.nav-link {
    color: #535D68 !important;
    font-family: sans-serif;
}

.on-clicked {
    background-color: #E5E9F2;
}

.search-icon {
    margin-top: 12px;
}

h1 {
    text-align: center;
<<<<<<< HEAD
}
=======
}
>>>>>>> master
