/* Main Colors to be used throughout the website */
:root {
	--background: #FDFFF7; 
	--foreground: #4B5358;
	--accent:     #27A5DF;
	--darkaccent: #003459;
	--light:      #E9EBEC;
	--dark:       #2D0605;
}
/* Main Stylings*/
body {
	background-color: var(--background);
	font-family: 'Noto Serif', serif;
}
h1, h2, h3, h4 {
	font-family: 'Noto Sans KR', sans-serif;
}

.fontsize {
	font-size: .45em;
}

/* Navbar Stylings */
.main-nav {
	background-color: blue;
	font-family: 'Noto Sans KR', sans-serif;
	padding: 0;
}
.main-nav .navbar-brand {
    padding: 0;
}
.main-nav .navbar {
    padding: 0;
}
.main-nav .navbar-logo {
	width: 20%;
}
.main-nav .navbar-brand span {
    color: var(--light);
    font-weight: bold;
}
.main-nav .navbar-nav {
    display: flex;
    justify-content: center;
				align-items: baseline;
}
.main-nav .nav-item {
	flex-direction: row;
	width: 100%;
	height: 100%;
 text-align: center;
}
.main-nav .nav-link {    
	font-family: 'Noto Sans KR', sans-serif;
	color: var(--light);
}
.main-nav .nav-item:hover {
	font-display: black;
	background-color: var(--light);
}
.main-nav .nav-link:hover {
	color: var(--dark);
}
/*horizontal rule under navbar*/
#navbar-line {
    margin: 0px;
	padding: 0px;
	border: 1px solid;
	color: var(--light);
}

/*footer */
footer {
	color: var(--light);
	background-color: var(--foreground);
}

@media screen and (min-width: 510px) {
	.nav-item {
		font-size: .75em;
	}
	
	.fontsize{ 
			font-size: .133em;
	}
}

@media screen and (min-width: 768px) {
	.nav-item {
		font-size: 1em;
	}

	.fontsize{ 
			font-size: 1em;
	}
}

@media screen and (min-width: 940px) {
	.nav-item {
		font-size: 1.33em;
	}

	.fontsize{ 
			font-size: 1.33em;
	}
}
